body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial;
  text-align: center;
  overflow: hidden;
}

.container {
  margin-top: 100px;
}

#letter {
  font-size: 32px;
  cursor: pointer;
  animation: bounce 1s infinite;
}

#paper {
  background: #fff;
  color: black;
  padding: 20px;
  width: 220px;
  margin
